*/__pycache__/
*.pyc
out_dir
src
*.egg-info
uninext-segm/build/
uninext-segm/projects/HIPIE/bert-base-uncased/

images_folder
annotations_folder
conversations_folder

checkpoints
pretrained_weights

inference_results